
/* General Styling */
@import url('https://fonts.googleapis.com/css?family=Bangers|Didact+Gothic');
body{
	background-color:#001433;
	font-family: 'Didact Gothic', sans-serif
}

.main-area{
	width:70%;
	margin:auto;
	border: 1px solid darkblue;
	height: 100vh;
	background-color:#F5F5F5;
}

h1, h2, h3{
	font-family: 'Bangers';
	color: #000033;
	font-weight:normal;
}

.indent{
	margin-left:20px;
}

.title-text{
	font-size:4em;
}

.subtitle-text{
	color:slategrey !important;
	margin-top:-50px;
}

.content-area{
	margin-top:40px;
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-content:space-around;
}

.weeks-display{
	width:100%;
	list-style-type: none;
	display:inline-block;
}

.week-display{
	flex-basis:31%;
	margin:2px;
}

.week-display img{
	transform: scale(0.7);
}

.caption{
	text-align: center;
}


/* Assignment Specific Classes */
.assignment-body{
	background-color:#FFF !important;
	font-family:sans-serif !important;
}
.clicky-areas > div{
	height: 30px;
	width: 60px;
	font-size:14px;
	background-color: darkblue;
	margin:10px;
	color:white;
	cursor:pointer;
	padding:10px;
	text-align:center;
	line-height:30px;
	display: inline-block;
	font-family: sans-serif;
}

.clicky-areas div:hover{
	font-weight:bold;
}
