
/* General Styling */
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Didact+Gothic');
body{
	background-color:#001433;
	font-family: 'Diadact Gothic', sans-serif
}

.main-area{
	width:80%;
	margin:auto;
	border: 1px solid darkblue;
	height: 100vh;
	background-color:#F5F5F5;
}

h1, h2{
	font-family: 'Alfa Slab One';
	color: #000033;
	font-weight:normal;
}

.indent{
	margin-left:20px;
}


/* Assignment Specific Classes */
.clicky-areas > div{
	height: 30px;
	width: 60px;
	font-size:14px;
	background-color: darkblue;
	margin:10px;
	color:white;
	cursor:pointer;
	padding:10px;
	text-align:center;
	line-height:30px;
	display: inline-block;
	font-family: sans-serif;
}

.clicky-areas div:hover{
	font-weight:bold;
}
