
.clicky-areas > div{
	height: 30px;
	width: 60px;
	font-size:14px;
	background-color: darkblue;
	margin:10px;
	color:white;
	cursor:pointer;
	padding:10px;
	text-align:center;
	line-height:30px;
	display: inline-block;
}

.clicky-areas div:hover{
	font-weight:bold;
}
